body{
    background-color: black;
}
.logo img{
    height: 80px;
    width: 120px;
    margin-left: 50px;
    margin-top: 10px;
}
.logo h1{
    font-family: algerian;
    color: beige;
    margin-left: 170px;
    margin-top: -50px;
}
.logo ul{
    word-spacing: 30px;
    display: inline-flex;
    float: right;
    margin-top: -30px;
}
.logo a{
    margin-right: 80px;
    margin-top: -15px;
    color: rgb(198, 10, 54);
    text-decoration: none;
    text-shadow: 50px, black;
    font-weight: bold;
}

.carousel-inner h5{
    color: green;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.carousel-inner{
height: 500px;
width: 1800px;
color: black;
/* opacity: 0.5; */

}
.carousel-inner p{
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}
.carousel-inner img{
    opacity: 0.5;
    background-color: black;
}
.carousel-item{
    height: 500px;
    width: 1500px;
    color: black;
    
}
.carousel-item img{
    opacity: 0.5;
}
.specs{
    text-align: center;
    margin: 50px;
    color: green;
    font-weight: bolder;
    text-decoration: underline;
}
.ss{
    display: flex;
}
.ss a{
    background-color: black;
    opacity: 0.5;
}
.ss h5{
    color: whitesmoke;
    text-shadow: 5px green;
    font-weight: bolder;
}
.ss img{
    padding: 15px;
}
.card{
    margin-left: 195px;
    margin-top: 50px;
    background-color: grey;
    transition: transform .2s;
    
}
.card:hover{
    transform: scale(1.05);
}
.card-body{
    text-align: center;
}
.card1{
        margin-left: 100px;
        margin-top: 50px;
        background-color: grey;
        transition: transform .2s;
        
        
}
.card1:hover{
    transform: scale(1.05);
}
.card2{
    margin-left: 100px;
    margin-top: 50px;
    background-color: grey;
    transition: transform .2s;
    
}
.card2:hover{
transform: scale(1.05);
}
.hist{
    margin-left: -200px;
}
.hist img{
    opacity: 0.1;
}
.hist h1{
    color: green;
    text-decoration: underline;
    font-weight: bolder;
}
.hist .card-img-overlay{
    margin: 150px;
}
.hist p{
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.buy{
    display: flex;
    margin-left: -70px;
}
.speed h1{
    margin: 100px;
    color: green;
    text-decoration: underline;
    font-weight: bolder;
}
.speed p{
    margin: 150px;
    font-size: 20px;
    color: whitesmoke;
}
iframe{
    margin: 100px 100px 100px 130px;
    height: 500px;
    width: 1200px;
}

.avai{
    text-align: center;
    margin: 50px;
    color: green;
    font-weight: bolder;
    text-decoration: underline;
}
.regi{
    color: green;
    font-size: 50px;
    text-align: center;
    margin: 50px;
    font-weight: bolder;
}
.det{
    margin: 50px;
}
.rrr{
    float: right;
    margin-top: -450px;
    margin-right: 100px;
    height: 500px;
    width: 280px;
}
.fll{
    display: flex;
}
.foot{
    text-align: center;
    color: whitesmoke;
    font-size: 15px;
}